<div class="secao-depoimento">
  <h2>Depoimentos</h2>
  <div class="depoimento-wrapper">
    <app-card-depoimento
      image="assets/images/avatar1.png"
      text="lorem ipsum dolor sit amet, consectetur adipisicing el element element element lorem ipsum dolor"
      name="rajji"
    ></app-card-depoimento>
    <app-card-depoimento
      image="assets/images/avatar1.png"
      text="lorem ipsum dolor sit amet, consectetur adipisicing el element element element lorem ipsum dolor"
      name="someone"
    ></app-card-depoimento>
    <app-card-depoimento
      image="assets/images/avatar1.png"
      text="lorem ipsum dolor sit amet, consectetur adipisicing el element element element lorem ipsum dolor"
      name="another person"
    ></app-card-depoimento>
  </div>
</div>
