.app-footer {
	figure {
		padding: 0;
		margin: 12px 0;
	}

	p {
		font-weight: 200;
		font-size: 14px;
        line-height: 24px;
        margin-bottom: 4px;
	}

	.mat-toolbar {
		background-color: black;
		color: white;
		padding: 0 256px;
		height: 232px;
		justify-content: space-between;
	}

	.section-socialmedias {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center; 
	}

	nav {
		display: flex;
		justify-content: center; 
		gap: 8px;
		padding-top: 12px;
	}
	
}