<header class="app-footer">
	<mat-toolbar>
		<section>
			<figure>
				<img src="assets/images/logo-footer.png" alt="imagem do logo">
				<span class="example-spacer"></span>
			</figure>
			<div>
				<p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
				<p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
			</div>
		</section>
		<section class="section-socialmedias">
			<p>Acesse nossas redes:</p>
			<nav>
				<a href="">
					<img src="assets/images/whatsapp.png" alt="Logo do whatsapp">
				</a>
				<a href="">
					<img src="assets/images/instagram.png" alt="Logo do instagram">
				</a>
				<a href="">
					<img src="assets/images/twitter.png" alt="Logo do twitter">
				</a>
			</nav>
		</section>
	</mat-toolbar>
</header>
  